body {
    width: max-content;
    overflow-x: hidden;
    font-family: 'Red Hat Mono';
}


/*
IDS
*/

#ct_equipo {
    position: absolute;
    top: 175px;
    left: 50px;
}

#noticias {
    margin-top: 12rem;
}

#nosotros {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 10px solid;
    border-color: #4E944F;
    position: relative;
    left: -8px;
}

#noticias_portadas {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#noticia2 {
    margin-left: 100px;
}

#noticia3 {
    margin: 50px;
}

#tabla_jugadores {
    position: absolute;
    top: 900px;
    left: 50px;
}


/*
CLASES
*/

.act_noticias {
    font-family: 'Red Hat Mono';
    text-align: center;
}

.boton_color1 {
    background-color: whitesmoke;
    border-color: black;
    border-radius: 7px;
}

.boton_color2 {
    background-color: whitesmoke;
    border-color: black;
    border-radius: 7px;
}

.boton_color3 {
    background-color: whitesmoke;
    border-color: black;
    border-radius: 7px;
}

.boton_color1:hover {
    background-color: #4E944F;
    box-shadow: 10px 5px 15px black;
}

.boton_color2:hover {
    background-color: #A2D5AB;
    box-shadow: 10px 5px 15px black;
}

.boton_color3:hover {
    background-color: #83BD75;
    box-shadow: 10px 5px 15px black;
}

.boton_pos {
    width: 150px;
    height: 30px;
    margin-top: 7px;
}

.col_historia {
    padding-left: 75px;
    padding-right: 75px;
    margin: 25px;
    width: 50%;
    height: 100px;
    text-align: center;
}

.container_dark {
    border: 15px solid;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
}

.container_light {
    border: 15px solid;
    border-color: aliceblue;
    border-radius: 5px;
    border-width: 2px;
}

.dorsal_arquero {
    background-color: #2F8F9D;
}

.dorsal_defensor {
    background-color: #3BACB6;
}

.dorsal_mediocampista {
    background-color: #82DBD8;
}

.dorsal_delantero {
    background-color: #B3E8E5;
}

.fixed_top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.img_dark {
    margin-top: 25px;
    height: 50px;
    width: 50px;
}

.img_light {
    height: 51px;
    width: 50px;
}

.item_links {
    padding-left: 25px;
    padding-bottom: 15px;
}

.itemRedes {
    padding-right: 50px;
    align-items: flex-end;
    float: right;
}

.img_noticia_centrada {
    text-align: center;
}

.img_noticia_portada {
    width: 700px;
    height: 500px;
}

.img_tabla_ct {
    width: 40px;
    height: 35px;
}

.imgMail {
    height: 75px;
    width: 75px;
}

.imgGit {
    height: 75px;
    width: 75px;
}

.imglinkedin {
    height: 75px;
    width: 75px;
}

.lista_links {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    align-items: flex-end;
    list-style: none;
}

.lista_preselect {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    list-style: none;
}

.lista_disciplinas {
    align-items: flex-start;
    list-style: none;
    font-family: 'Red Hat Mono';
    text-align: start;
}

.listaRedes {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    margin-right: 500px;
}

.nav_bar {
    position: absolute;
    height: 125px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

.nav_border {
    border-bottom: 10px solid;
    border-color: #4E944F;
}

.nav_img {
    height: 75px;
    width: 75px;
    padding-bottom: 35px;
}

.nav_links {
    margin-bottom: 25px;
}

.nav_text {
    font-weight: bold;
    align-items: center;
    font-size: 35px;
    text-decoration: none;
    font-family: 'Red Hat Mono';
}

.nav_text:hover {
    color: #A2D5AB;
}

.nombreRedes {
    display: inline;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    padding-right: 50px;
    padding-top: 10px;
}

.noticia_titulo {
    text-align: center;
    font-size: large;
    font-family: 'PT Serif', serif;
    font-weight: bolder;
}

.noticia_boton {
    text-align: center;
    padding-top: 15px;
}

.preselect {
    margin-right: 15px;
}

.preselect_links {
    padding-right: 30px;
    padding-bottom: 70px;
}

.redes {
    background-color: #DDDDDD;
    width: 100%;
}

.select_moneda {
    padding-left: 15px;
}

.subtitulo_jugadores {
    position: absolute;
    top: 800px;
    left: 50px;
    font-size: 25px;
    text-decoration: underline;
}

.subtitulo_plantilla {
    font-size: 25px;
    text-decoration: underline;
}

.titulo_disciplinas {
    font-family: 'Red Hat Mono';
    text-align: start;
    font-weight: bolder;
    text-decoration: underline;
}

.titulo_noticias {
    font-family: 'Red Hat Mono';
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    font-style: italic;
}

.titulo_historia {
    color: #15133C;
    font-family: 'Red Hat Mono';
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    font-style: italic;
}

.titulo_texto_historia {
    font-family: 'Red Hat Mono';
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
}

.titulo_texto_disciplinas {
    font-family: 'Red Hat Mono';
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
}

.titulo_plantilla {
    font-size: 50px;
    font-family: 'Red Hat Mono';
    font-style: italic;
}

.text_moneda {
    position: absolute;
    top: 40px;
    font-family: 'Red Hat Mono';
    font-size: large;
    text-decoration: underline;
}

.texto_historia {
    font-family: 'Red Hat Mono';
    text-align: center;
    font-size: large;
    font-weight: 500;
    text-align: justify;
}

.underline_links {
    text-decoration: none;
}


/*
ESTILOS COMBINADOS
*/

table#tabla_jugadores thead tr th {
    background: #c5c5c5;
}

table thead tr th.fila_jugadores_s {
    padding: 5px 5px;
    text-align: center;
    border: 1px solid rgb(14, 14, 14);
    width: 5px;
}

table thead tr th.fila_jugadores_m {
    padding: 10px 10px;
    text-align: center;
    border: 1px solid rgb(14, 14, 14);
    width: 150px;
}

table thead tr th.fila_jugadores_l {
    padding: 10px 10px;
    text-align: center;
    border: 1px solid rgb(14, 14, 14);
    width: 350px;
}

table .fila_ct_pos {
    padding: 10px 10px;
    text-align: center;
    border: 1px solid rgb(14, 14, 14);
    background: #c5c5c5;
    width: 250px;
}

table .fila_ct {
    padding: 10px 10px;
    text-align: center;
    border: 1px solid rgb(14, 14, 14);
    background: #c5c5c5;
    width: 50px;
}

table tbody tr td {
    padding: 10px 10px;
    text-align: center;
    border: 1px solid rgb(14, 14, 14);
    background: #f5f5f5;
    width: 50px;
}


/*
ESTILOS MODO CLARO
*/

#nav_light {
    background-color: #DDDDDD;
}

.body_light {
    background-color: #E9EFC0;
    width: 100%;
}

.footer_light {
    background-color: #DDDDDD;
    padding-top: 20px;
    padding-bottom: 10px;
    height: max-content;
    position: relative;
    left: -8px;
    bottom: -8px;
    border-top: 10px solid;
    border-color: #4E944F;
}


/*
ESTILOS MODO OSCURO
*/