/*
IDS
*/

#noticias {
    margin-top: 12rem;
}

#nosotros {
    margin-top: 50px;
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-color: #4E944F;
    position: fixed;
    right: 0;
    left: 0;
}


/*
CLASES
*/

.act_noticias {
    font-family: 'Red Hat Mono';
    text-align: center;
}

.col_historia {
    padding: 10px;
}

.container_dark {
    border: 15px solid;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
}

.container_light {
    border: 15px solid;
    border-color: aliceblue;
    border-radius: 5px;
    border-width: 2px;
}

.fixed_top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.img_dark {
    height: 50px;
    width: 50px;
}

.img_light {
    height: 51px;
    width: 50px;
}

.item_links {
    padding-left: 25px;
    padding-bottom: 15px;
}

.lista_links {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    align-items: flex-end;
    list-style: none;
}

.lista_preselect {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    list-style: none;
}

.nav_bar {
    position: absolute;
    height: 125px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

.nav_border {
    border-bottom: 10px solid;
    border-color: #4E944F;
}

.nav_img {
    height: 75px;
    width: 75px;
    padding-bottom: 35px;
}

.nav_img_profile {
    height: 95px;
    width: 85px;
    padding-bottom: 45px;
    padding-right: 25px;
}

.nav_links {
    margin-bottom: 25px;
}

.nav_text {
    font-weight: bold;
    align-items: center;
    font-size: 35px;
    text-decoration: none;
    font-family: 'Red Hat Mono';
}

.preselect {
    margin-right: 15px;
}

.preselect_links {
    padding-right: 30px;
    padding-bottom: 70px;
}

.select_moneda {
    padding-left: 15px;
}

.titulo_noticias {
    font-family: 'Red Hat Mono';
    text-align: center;
}

.titulo_historia {
    font-family: 'Red Hat Mono';
    text-align: center;
}

.text_moneda {
    position: absolute;
    top: 40px;
    font-family: 'Red Hat Mono';
    font-size: large;
    text-decoration: underline;
}

.texto_historia {
    font-family: 'Red Hat Mono';
    text-align: justify;
    font-size: medium;
    font-weight: 500;
}

.underline_links {
    text-decoration: none;
}


/*
ESTILOS MODO CLARO
*/

#nav_light {
    background-color: #DDDDDD;
}

.body_light {
    background-color: #F4F9F9;
}


/*
ESTILOS MODO OSCURO
*/