body {
    width: max-content;
    overflow-x: hidden;
}

table {
    border-collapse: collapse;
}


/*
IDS
*/

#ct_equipo {
    position: absolute;
    top: 175px;
    left: 50px;
}

#jugadores_equipo {
    width: 90%;
    position: absolute;
    left: 50px;
}

#noticias {
    margin-top: 7.5rem;
}

#nosotros {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 10px solid;
    position: relative;
    left: -8px;
}

#noticias_portadas {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#noticia2 {
    margin-left: 100px;
}

#noticia3 {
    margin: 50px;
}

#tabla_jugadores {
    width: 100%;
    position: absolute;
    top: 900px;
    left: 25px;
}

#tabla_pos {
    width: 90%;
    margin-left: 85px;
}

#graficos_posiciones {
    position: relative;
    top: 250px;
    align-items: center;
}

#noticia_1_texto {
    position: relative;
    top: 7.5;
    left: 5%;
    width: 90%;
    text-align: center;
}


/*
CLASES
*/

.act_noticias {
    font-family: 'Red Hat Mono';
    text-align: center;
}

.boton_color1 {
    background-color: whitesmoke;
    border-color: black;
    border-radius: 7px;
}

.boton_color2 {
    background-color: whitesmoke;
    border-color: black;
    border-radius: 7px;
}

.boton_color3 {
    background-color: whitesmoke;
    border-color: black;
    border-radius: 7px;
}

.boton_color1:hover {
    background-color: #4E944F;
    box-shadow: 10px 5px 15px black;
}

.boton_color2:hover {
    background-color: #A2D5AB;
    box-shadow: 10px 5px 15px black;
}

.boton_color3:hover {
    background-color: #83BD75;
    box-shadow: 10px 5px 15px black;
}

.boton_pos {
    width: 150px;
    height: 30px;
    margin-top: 7px;
}

.botones_usuario {
    float: right;
    padding-right: 2.5rem;
}

.botones_usuario input {
    background-color: transparent;
    height: 40px;
    width: 110px;
    font-family: 'Joan', serif;
    font-size: 20px;
}

.botones_usuario input:hover {
    box-shadow: 5px 5px 15px black;
    background-color: #D6D5A8;
}

.boton_reiniciar input:hover {
    box-shadow: 5px 5px 15px black;
    background-color: #D6D5A8;
}

.col_historia {
    padding-left: 75px;
    padding-right: 75px;
    margin: 25px;
    width: 50%;
    height: 100px;
    text-align: center;
}

.col_posiciones {
    padding-left: 75px;
    padding-right: 75px;
    margin: 25px;
    width: 50%;
    height: 100px;
    text-align: center;
}

.col_titulo {
    width: 70%;
}

.col_opciones {
    width: 30%;
}

.container_titulos {
    padding-top: 25px;
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.container_partidos {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.container_dark {
    border: 15px solid;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
}

.container_dark:hover {
    background-color: darkslategray;
}

.container_light {
    border: 15px solid;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
}

.container_light:hover {
    background-color: darkolivegreen;
}

.container_tit_usuario {
    position: absolute;
    top: 12.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 2.5rem;
}

.container_usuario {
    border: 2px solid #06283D;
    border-radius: 5px;
    position: absolute;
    top: 300px;
    margin-left: 75px;
    height: 350px;
    width: 90%;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 40px;
}

.container_usuario * {
    height: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    font-family: 'Joan', serif;
    font-size: 25px;
}

.dorsal_arquero {
    background-color: #2F8F9D;
}

.dorsal_defensor {
    background-color: #3BACB6;
}

.dorsal_mediocampista {
    background-color: #82DBD8;
}

.dorsal_delantero {
    background-color: #B3E8E5;
}

.clasificados_lib {
    background-color: #DAEAF1;
}

.fixed_top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.formulario_usuario {
    margin-left: 75px;
    height: 350px;
    width: 90%;
    vertical-align: middle;
    border: 2px solid #06283D;
    border-radius: 5px;
    position: absolute;
    top: 20rem;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 40px;
}

.formulario_usuario * {
    height: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    font-family: 'Joan', serif;
    font-size: 20px;
}

.img_dark {
    margin-top: 25px;
    height: 50px;
    width: 50px;
}

.img_light {
    height: 51px;
    width: 50px;
}

.item_links {
    padding-left: 25px;
    padding-bottom: 15px;
}

.itemRedes {
    padding-right: 50px;
    align-items: flex-end;
    float: right;
}

.img_noticia_centrada {
    text-align: center;
}

.img_noticia_portada {
    width: 700px;
    height: 500px;
}

.img_noticia_padel {
    width: 700px;
    height: 500px;
}

.img_tabla_ct {
    width: 40px;
    height: 35px;
}

.imgMail {
    height: 75px;
    width: 75px;
}

.imgGit {
    height: 75px;
    width: 75px;
}

.imglinkedin {
    height: 75px;
    width: 75px;
}

.imagen_posiciones {
    width: 20px;
    height: 20px;
    padding-left: 10px;
}

.img_usuario {
    width: 75px;
    height: 75px;
}

.links_no_deco {
    text-decoration: none;
    text-align: center;
    font-family: 'Joan', serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    color: black;
}

.links_no_deco:hover {
    text-decoration: underline;
}

.links_no_deco:visited {
    text-decoration: none;
    color: black;
}

.lista_links {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    align-items: flex-end;
    list-style: none;
}

.lista_partidos_titulos {
    text-align: center;
    list-style: none;
}

#copa1 .lista_partidos {
    width: 400px;
    padding-left: 0;
    padding-right: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
}

.lista_preselect {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    list-style: none;
}

.lista_disciplinas {
    align-items: flex-start;
    list-style: none;
    font-family: 'Red Hat Mono';
    text-align: start;
}

.listaRedes {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    margin-right: 500px;
}

.nav_bar {
    position: relative;
    top: -15px;
    left: -9px;
    width: 100%;
    height: 125px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

.nav_border {
    border-bottom: 10px solid;
}

.nav_img {
    height: 75px;
    width: 75px;
    padding-bottom: 35px;
}

.nav_links {
    margin-bottom: 25px;
}

.nav_text {
    font-weight: bold;
    align-items: center;
    font-size: 35px;
    text-decoration: none;
    font-family: 'Red Hat Mono';
}

.nav_text:hover {
    color: #A2D5AB;
}

.no_border_escudo {
    border-right: none;
    text-align: start;
}

.nombreRedes {
    display: inline;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    padding-right: 50px;
    padding-top: 10px;
}

.noticia_titulo {
    text-align: center;
    font-size: large;
    font-family: 'PT Serif', serif;
    font-weight: bolder;
}

.noticia_boton {
    text-align: center;
    padding-top: 15px;
}

.preselect {
    margin-right: 15px;
}

.preselect_links {
    padding-right: 30px;
    padding-bottom: 70px;
}

.partidos_libertadores {
    margin-top: 250px;
}

.provincias {
    margin-left: 25px;
}

.redes {
    width: 100%;
}

.selector_opciones {
    width: 400px;
    height: 50px;
}

.subtitulo_jugadores {
    position: absolute;
    top: 800px;
    left: 25px;
    font-size: 25px;
    text-decoration: underline;
}

.subtitulo_plantilla {
    font-size: 25px;
    text-decoration: underline;
}

.span_perfil {
    text-decoration: underline;
    padding-right: 10px;
}

.tabla_tit_opc {
    align-items: center;
    width: 90%;
    margin-left: 85px;
}

.tabla_libertadores_pos {
    width: 90%;
    margin-left: 85px;
}

.titulo_competicion {
    font-family: 'Joan', serif;
    font-size: 35px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
}

.titulo_disciplinas {
    font-family: 'Red Hat Mono';
    text-align: start;
    font-weight: bolder;
    text-decoration: underline;
}

.titulo_noticias {
    font-family: 'Red Hat Mono';
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    font-style: italic;
}

.titulo_historia {
    color: #15133C;
    font-family: 'Red Hat Mono';
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    font-style: italic;
}

.titulo_usuario {
    padding-left: 25px;
    font-family: 'Joan', serif;
}

.titulo_texto_historia {
    font-family: 'Red Hat Mono';
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
}

.titulo_texto_disciplinas {
    font-family: 'Red Hat Mono';
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
}

.titulo_texto_posiciones {
    width: 450px;
    font-family: 'Joan', serif;
    text-decoration: underline;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
}

.titulo_plantilla {
    font-size: 50px;
    font-family: 'Red Hat Mono';
    font-style: italic;
}

.titulo_posiciones {
    position: relative;
    top: 100px;
}

.text_moneda {
    position: absolute;
    top: 40px;
    font-family: 'Red Hat Mono';
    font-size: large;
    text-decoration: underline;
}

.texto_historia {
    font-family: 'Red Hat Mono';
    text-align: center;
    font-size: large;
    font-weight: 500;
    text-align: justify;
}

.underline_links {
    text-decoration: none;
}


/*
ESTILOS COMBINADOS
*/

.container_usuario #boton_reiniciar {
    position: absolute;
    top: 350px;
    right: 10px;
}

table thead tr th {
    background: #c5c5c5;
}

table thead tr th.fila_s {
    padding: 5px 5px;
    text-align: center;
    border: 1px solid rgb(14, 14, 14);
    width: 5px;
}

table thead tr th.fila_m {
    padding: 10px 10px;
    text-align: center;
    border: 1px solid rgb(14, 14, 14);
    width: 150px;
}

table thead tr th.fila_l {
    padding: 10px 10px;
    text-align: center;
    border: 1px solid rgb(14, 14, 14);
    width: 350px;
}

table thead tr th.fila_l_start {
    padding: 10px 10px;
    text-align: center;
    border: 1px solid rgb(14, 14, 14);
    width: 350px;
    text-align: start;
}

table .fila_ct_pos {
    padding: 10px 10px;
    text-align: center;
    border: 1px solid rgb(14, 14, 14);
    background: #c5c5c5;
    width: 250px;
}

table .fila_ct {
    padding: 10px 10px;
    text-align: center;
    border: 1px solid rgb(14, 14, 14);
    background: #c5c5c5;
    width: 50px;
}

table tbody tr td {
    padding: 10px 10px;
    text-align: center;
    border: 1px solid rgb(14, 14, 14);
    background: #f5f5f5;
    width: 50px;
}

#copa2 ul.lista_partidos {
    width: 1250px;
    padding-left: 100px;
}

#copa2 .lista_partidos li {
    width: 750px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 10px;
    font-family: 'Joan', serif;
    font-size: 50px;
}

.lista_partidos li {
    width: 450px;
    padding-bottom: 10px;
    font-family: 'Joan', serif;
    font-size: 50px;
}

.nav_bar a {
    color: #15133C;
}

#noticia_1_texto h1 {
    font-family: 'Joan', serif;
    font-size: 50px;
    font-weight: lighter;
    padding-bottom: 20px;
    border-bottom: 0.5px solid grey;
}

#noticia_1_texto h4 {
    font-family: 'Joan', serif;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 10px;
    padding-bottom: 20px;
}

#noticia_1_texto p {
    padding-top: 50px;
    margin-left: 200px;
    width: 75%;
    font-family: 'Joan', serif;
    font-size: 20px;
    text-align: left;
    font-weight: lighter;
    margin-top: 10px;
    padding-bottom: 20px;
}


/*
ESTILOS MODO CLARO
*/

.nav_light {
    background-color: #DDDDDD;
}

.body_light {
    background-color: #E9EFC0;
    width: 100%;
}

.footer_light {
    background-color: #DDDDDD;
    padding-top: 20px;
    padding-bottom: 10px;
    height: max-content;
    position: relative;
    left: -8px;
    bottom: -8px;
    border-top: 10px solid;
}

.footer_light_equipo {
    background-color: #DDDDDD;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    bottom: -2655px;
    left: -8px;
    border-top: 10px solid;
}

.footer_light_pos {
    background-color: #DDDDDD;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    bottom: -300px;
    left: -8px;
    border-top: 10px solid;
}

.footer_light_perfil {
    background-color: #DDDDDD;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 10px;
    position: absolute;
    bottom: -300px;
    left: 0px;
    border-top: 10px solid;
}

.footer_light_noticia {
    background-color: #DDDDDD;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 10px;
    position: absolute;
    bottom: -600px;
    left: 0px;
    border-top: 10px solid;
}


/*
ESTILOS MODO OSCURO
*/

.nav_night {
    background-color: #FFD523;
}

.body_night {
    background-color: #B2B1B9;
    width: 100%;
}

.footer_night {
    background-color: #FFD523;
    padding-top: 20px;
    padding-bottom: 10px;
    height: max-content;
    position: relative;
    left: -8px;
    bottom: -8px;
    border-top: 10px solid;
    border-color: #2C2E43;
}

.footer_night_equipo {
    background-color: #FFD523;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    bottom: -2655px;
    left: -8px;
    border-top: 10px solid;
}

.footer_night_pos {
    background-color: #FFD523;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    bottom: -300px;
    left: -8px;
    border-top: 10px solid;
}

.footer_night_perfil {
    background-color: #FFD523;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 10px;
    position: absolute;
    bottom: -300px;
    left: 0px;
    border-top: 10px solid;
}

.footer_night_noticia {
    background-color: #FFD523;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 10px;
    position: absolute;
    bottom: -600px;
    left: 0px;
    border-top: 10px solid;
}